.full-page-spinner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.full-page-spinner-inner {
  // as flex child element
  flex-basis: 25%;

  // as flex parent element
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-page-spinner-status-failed {
  visibility: visible;
}

.full-page-spinner-status-none {
  visibility: hidden;
}
